<div class="container"  ng-init="initializeData()" >
		<!-- <input ng-model="test">
			{{test}} -->
			
					
		<table class ="table">
			<thead>
				<tr>
					<th> Name </th>
					<th> Email </th>
					<th> Number </th>
					<th> Action </th>
				</tr>
			</thead>
				<tbody>
					<tr>
					<td>Name <input type="text" ng-model ="claim.name"> </td>
					<td>Email<input type="text" ng-model ="claim.email"> </td>
					<td>Number<input type="text" ng-model ="claim.number"> </td>
					<td> <button class="btn btn-primary" ng-click="save()"> Add Contact </button> </td>
					
					{{claim.name}}
					<tr>
						
					<tr ng-repeat="claim in allClaims">
						<td> {{claim.name}} </td>
						<td> {{claim.email}} </td>
						<td>  {{claim.number}}</td>
						
					</tr>
		</table>
	</div>