<div class="container">
  <h1>Claim Catalogue</h1>
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Address</th>
        <th>Claim Date</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr  *ngFor="let claim of claims">
        <td a [routerLink]="['/claim-detail', claim._id]" class="btn btn-default btn-lg">{{ claim.lastName + ", " + claim.firstName + " " + claim.middleName }} </td>
        <td>{{ claim.address }}</td>
        <td>{{ claim.claimDate }}</td>
        <td> 
          <button class="btn btn-secondary" (click)="deleteClaim(claim._id)">Delete</button>
          <a class="btn btn-secondary" [routerLink]="['/claim-edit', claim._id]" >Edit </a>
        </td>
      </tr>
    </tbody>
  </table>

</div>

<h1>ADD CLAIM
  <a [routerLink]="['/claim-create']" class="btn btn-default btn-lg">
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
  </a>
</h1>
<h1>
<!-- <input id="upload-input" type="file" name="uploads[]" multiple="multiple"></br> -->
<input type="file" [(ngModel)]="filecsv" accept="csv/*">
<button class="btn btn-secondary" (click)="uploadClaim(filecsv)">Upload</button>
</h1>