<div class="container">
  <h1>Add New Claim</h1>
  <div class="row">
    <div class="col-md-6">
      <form (ngSubmit)="saveClaim()" #claimForm="ngForm">    
        <div class="form-group">
          <label for="name">Policy ID</label>
          <input type="text" class="form-control" [(ngModel)]="claim.policyID" name="policyID" required>
        </div>
        <div class="form-group">
            <label for="name">Insured</label>
           Last Name <input type="text" class="form-control" name = "lastName" required label="Last Name" [(ngModel)]="claim.lastName">
           First Name <input type="text" class="form-control"  name ="firstName" required label="First Name" [(ngModel)]="claim.firstName">
           Middle Name <input type="text" class="form-control"  name ="middleName"  required label="Middle Name" [(ngModel)]="claim.middleName">
          </div>
        <div class="form-group">
          <label for="name">Address</label>
          <input type="text" class="form-control" [(ngModel)]="claim.address" name="address" required>
        </div>
        <div class="form-group">
            <label for="name">Vehicle</label>
            Year <input type="text" class="form-control" name="year" required label="Year" [(ngModel)]="claim.year">
            Make <input type="text" class="form-control" name="make" required label="Make" [(ngModel)]="claim.make">
            Model <input type="text" class="form-control" name="model" required label="Model" [(ngModel)]="claim.model">
            Motor No.<input type="text" class="form-control" name="motorNo" required label="Motor No." [(ngModel)]="claim.motorNo">
            Serial No.<input type="text" class="form-control" name="serialNo" required label="Serial No." [(ngModel)]="claim.serialNo">
            OR/CR No.<input type="text" class="form-control" name="orNo" required label="OR/CR No." [(ngModel)]="claim.orNo">    
        </div>
        <div class="form-group">
          <label for="name">Date of Loss</label>
          <input type="text" class="form-control" [(ngModel)]="claim.dateOfLoss" name="dateOfLoss" required>
        </div>
        <div class="form-group">
          <label for="name">Situation of Loss</label>
          <input type="text" class="form-control" [(ngModel)]="claim.situationOfLoss" name="situationOfLoss" required>
        </div>
        <div class="form-group">
          <label for="name">Nature of Loss</label>
          <input type="text" class="form-control" [(ngModel)]="claim.natureOfLoss" name="natureOfLoss" required>
        </div>
        <div class="form-group">
            <label for="name">Settlement</label>
            Date of Settlement<input type="text" class="form-control"  name="dateOfSettlement" required label="Date Of Settlement" [(ngModel)]="claim.dateOfSettlement">
            Amount<input type="text" class="form-control"  name="amount" required label="Amount" [(ngModel)]="claim.amount">
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-success" [disabled]="!claimForm.form.valid">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>